In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
pip install -U imbalanced-learn

Collecting imbalanced-learn
  Using cached imbalanced_learn-0.7.0-py3-none-any.whl (167 kB)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\srini\.conda\envs\pythondata\lib\site-packages (from imbalanced-learn) (0.15.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\srini\.conda\envs\pythondata\lib\site-packages (from imbalanced-learn) (1.18.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\srini\.conda\envs\pythondata\lib\site-packages (from imbalanced-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.23 in c:\users\srini\.conda\envs\pythondata\lib\site-packages (from imbalanced-learn) (0.23.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\srini\.conda\envs\pythondata\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn) (2.1.0)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.7.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
# from imblearn.metrics import classification_report_imbalanced

In [5]:
from imblearn import under_sampling, over_sampling
from imblearn.over_sampling import SMOTE

# Read the CSV and Perform Basic Data Cleaning

In [6]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [9]:
# Load the data
file_path = Path('../Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [53]:
# Create our features
X = df.drop(columns="loan_status")
X = pd.get_dummies(X)

# Create our target
y = df[["loan_status"]]

In [54]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [48]:
y

      loan_status
0        low_risk
1        low_risk
2        low_risk
3        low_risk
4        low_risk
...           ...
68812    low_risk
68813    low_risk
68814    low_risk
68815    low_risk
68816    low_risk

[68817 rows x 1 columns]

In [20]:
# Check the balance of our target values
# y["loan_status"].value_counts()
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [55]:
# Spilt our data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
Counter(y_train)

# X_train.shape

# X_test.shape

Counter({'loan_status': 1})

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [10]:
# Resample the training data with the RandomOversampler
# YOUR CODE HERE

BalancedRandomForestClassifier(bootstrap=True, class_weight=None,
                criterion='gini', max_depth=None, max_features='auto',
                max_leaf_nodes=None, min_impurity_decrease=0.0,
                min_samples_leaf=2, min_samples_split=2,
                min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
                oob_score=False, random_state=1, replacement=False,
                sampling_strategy='auto', verbose=0, warm_start=False)

In [56]:
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=0)
brf.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=0)

In [67]:

# implement random oversampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
# X_test, y_test = ros.fit_resample(X_train, y_train)

In [68]:
# Counter(y_test)
Counter(y_resampled)

Counter({'loan_status': 1})

In [69]:
# # Logistic regression using random oversampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)
# model.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [107]:
# y_pred = model.predict(X_resampled)
y_pred = model.predict(X_test)

In [108]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.6603197445563078

In [73]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[33287, 18065],
       [17206, 34146]], dtype=int64)

In [74]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.66      0.65      0.66      0.65      0.66      0.43     51352
   low_risk       0.65      0.66      0.65      0.66      0.66      0.43     51352

avg / total       0.66      0.66      0.66      0.66      0.66      0.43    102704

In [76]:
X

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68812,10000.0,0.1502,346.76,26000.0,9.60,0.0,0.0,9.0,0.0,2684.0,...,0,1,0,1,0,1,1,0,1,1
68813,12000.0,0.2727,368.37,63000.0,29.07,0.0,0.0,8.0,0.0,13314.0,...,0,1,0,1,0,1,1,0,1,1
68814,5000.0,0.1992,185.62,52000.0,14.86,0.0,0.0,5.0,1.0,3715.0,...,0,1,0,1,0,1,1,0,1,1
68815,40000.0,0.0646,1225.24,520000.0,9.96,0.0,1.0,21.0,0.0,59529.0,...,0,1,1,0,0,1,1,0,1,1
68816,16000.0,0.1131,350.36,72000.0,7.02,2.0,0.0,12.0,1.0,11882.0,...,0,1,0,1,0,1,1,0,1,1

In [84]:
# List the features sorted in descending order by feature importance
importance = brf.feature_importances_
indexes = np.argsort(importance)
indexes = indexes[::-1]
for i in range(X.shape[1]):
    print(f'{X.columns.values[i]}, {importance[indexes[i]]}')

loan_amnt, 0.07359410487835379
int_rate, 0.06574126109171469
installment, 0.058247781617678705
annual_inc, 0.054330030191083026
dti, 0.05005225472615184
delinq_2yrs, 0.030267838474527374
inq_last_6mths, 0.021016391142422708
open_acc, 0.02042901965547055
pub_rec, 0.01781406866335307
revol_bal, 0.017152874888893842
total_acc, 0.016620756943505968
out_prncp, 0.01626758722734418
out_prncp_inv, 0.016223759937333923
total_pymnt, 0.015532483574478317
total_pymnt_inv, 0.014924026757646433
total_rec_prncp, 0.014801800021160582
total_rec_int, 0.014739290279973354
total_rec_late_fee, 0.014561028484879703
recoveries, 0.014479426857671713
collection_recovery_fee, 0.014102502359757107
last_pymnt_amnt, 0.013734245138634027
collections_12_mths_ex_med, 0.012971694808799793
policy_code, 0.0129656914093968
acc_now_delinq, 0.01287824214095576
tot_coll_amt, 0.01261310712060957
tot_cur_bal, 0.012507192117032127
open_acc_6m, 0.01249522067518324
open_act_il, 0.012440616346608431
open_il_12m, 0.012381924621383931
open_il_24m, 0.011939656667588729
mths_since_rcnt_il, 0.011873695274937384
total_bal_il, 0.011844625554993087
il_util, 0.011170390269236606
open_rv_12m, 0.011124393619712824
open_rv_24m, 0.010683389091652125
max_bal_bc, 0.010487903937104111
all_util, 0.010326431044036972
total_rev_hi_lim, 0.009789844845930139
inq_fi, 0.009579399493105965
total_cu_tl, 0.009549224866419615
inq_last_12m, 0.009510449836005404
acc_open_past_24mths, 0.009408075992731559
avg_cur_bal, 0.009115532906252603
bc_open_to_buy, 0.008679172281343074
bc_util, 0.008577484560916537
chargeoff_within_12_mths, 0.00840008046269858
delinq_amnt, 0.008375871016012407
mo_sin_old_il_acct, 0.008250755847708747
mo_sin_old_rev_tl_op, 0.007538583540540764
mo_sin_rcnt_rev_tl_op, 0.007417435578605912
mo_sin_rcnt_tl, 0.007387348237309447
mort_acc, 0.007349915619027275
mths_since_recent_bc, 0.007268128774495325
mths_since_recent_inq, 0.007240669512027716
num_accts_ever_120_pd, 0.007086592305271938
num_actv_bc_tl, 0.007039252524854038
num_actv_rev_tl, 0.006449762676989883
num_bc_sats, 0.005872105494462946
num_bc_tl, 0.00533671061127008
num_il_tl, 0.00464011129679295
num_op_rev_tl, 0.0044373177746669466
num_rev_accts, 0.004288580934626357
num_rev_tl_bal_gt_0, 0.004002721064712683
num_sats, 0.0037720036860488916
num_tl_120dpd_2m, 0.0037016181203675135
num_tl_30dpd, 0.003677884598601189
num_tl_90g_dpd_24m, 0.0036191968322430487
num_tl_op_past_12m, 0.0034745609831601347
pct_tl_nvr_dlq, 0.0032477935439815275
percent_bc_gt_75, 0.002541410246334858
pub_rec_bankruptcies, 0.0024702936140694963
tax_liens, 0.002230291757351729
tot_hi_cred_lim, 0.002213559344111907
total_bal_ex_mort, 0.0020526520417596954
total_bc_limit, 0.0017371017920657236
total_il_high_credit_limit, 0.0015095814564904564
home_ownership_ANY, 0.0013743375521492434
home_ownership_MORTGAGE, 0.001021285021675423
home_ownership_OWN, 0.0009593766443740492
home_ownership_RENT, 0.0009190319480207081
verification_status_Not Verified, 0.0007734467256759681
verification_status_Source Verified, 0.00038864411714694915
verification_status_Verified, 0.0002482174908455194
issue_d_Feb-2019, 0.00013987681748068553
issue_d_Jan-2019, 0.0
issue_d_Mar-2019, 0.0
pymnt_plan_n, 0.0
initial_list_status_f, 0.0
initial_list_status_w, 0.0
next_pymnt_d_Apr-2019, 0.0
next_pymnt_d_May-2019, 0.0
application_type_Individual, 0.0
application_type_Joint App, 0.0
hardship_flag_N, 0.0
debt_settlement_flag_N, 0.0

### Easy Ensemble AdaBoost Classifier

In [85]:
# Train the Classifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# X_train, X_test, y_train, y_test = train_test_split(X,
#   y, random_state=1)

In [91]:
from imblearn.ensemble import EasyEnsembleClassifier
easy = EasyEnsembleClassifier(n_estimators=100, random_state=1)
easy.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [86]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [92]:
y_pred = easy.predict(X_test)

In [95]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.9316600714093861

In [97]:
confusion_matrix(y_test, y_pred)

array([[   93,     8],
       [  983, 16121]], dtype=int64)

In [98]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205

In [101]:
# another opation to print accuracy score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
acc_score = accuracy_score(y_test, y_pred)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.9424004649811102

In [103]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
   cm, index=["Actual 0", "Actual 1"],
   columns=["Predicted 0", "Predicted 1"]
)
display(cm_df)

          Predicted 0  Predicted 1
Actual 0           93            8
Actual 1          983        16121

In [104]:
print("Classification Report")
print(classification_report(y_test, y_pred))

Classification Report
              precision    recall  f1-score   support

   high_risk       0.09      0.92      0.16       101
    low_risk       1.00      0.94      0.97     17104

    accuracy                           0.94     17205
   macro avg       0.54      0.93      0.56     17205
weighted avg       0.99      0.94      0.97     17205